@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
  font-family: 'Permanent Marker', cursive;
}
html{
  height: 100%;
}
body{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(173,197,255,1) 50%, rgba(119,167,156,1) 100%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  height: 100%;
}

.container{

}

